/*-------------------------------- 
- Stages of organizing elements.
==================================
1- Import the font used
2- Add some properties to all elements
3- Formatting the body element
4- Container format
5- Formatting the header element and all the elements inside it
6- Coordinating the content and all the elements inside it
----------------------------------*/
/*===================== 
1- Import the font used
========================*/
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Ubuntu&display=swap");
/*====================================
2- Add some properties to all elements
======================================*/
* {
  margin: 0;
  padding: 0;
  font-family: "Amiri", serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
a {
  color: #62ff01;
  text-decoration: none;
}
/*============================
3- Formatting the body element
==============================*/
body {
  /* background: #b3b2b2; */
  background: linear-gradient(to right, #000000dc -30%, #00000091 );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*=================
4- Container format
===================*/
.container {
  background: linear-gradient(to right, #000000dc -30%, #00000091 ),
    url(/img-file/background.jpg);
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 700px;
  transition: all 5s;
  margin-top: 30px;
}
.container:hover{
  background: linear-gradient(to right, #000000cb -30%, transparent),
  url(/img-file/background.jpg);
  background-size: cover;
}
/*============================================================
5- Formatting the header element and all the elements inside it
===============================================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header .logo {
  font-size: 30px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

ul {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
ul a {
  border-bottom:2px solid transparent;
  transition: all 0.5s;
  font-size: 20px;
  text-transform: uppercase;
}
ul a:hover {
  border-bottom:2px solid #45b301;
}
/*========================================================
6- Coordinating the content and all the elements inside it
==========================================================*/
.content {
  color: white;
  width: 50%;
  margin-top: 200px;
  padding: 30px;
}
.content h2 {
  
  font-size: 50px;
  text-transform: uppercase;
}

.content p {
  letter-spacing: 1px;
  width: 500px;
  padding: 20px 0;
}

.content button {
  cursor: pointer;
  border: 1.5px solid #45b301;
  font-size: 25px;
  padding: 6px 10px;
  border-radius: 15px;
  
}
.content button:hover {
  background-color: #45b301;
}